<header class="mt-2 mb-6">
  <nav class="flex justify-between items-center m-auto max-w-5xl gap-4">
    <div class="w-full">
      <input
        class="p-2 h-10 rounded-md w-full bg-slate-200 placeholder-slate-800 text-slate-800 font-medium outline-none"
        type="text"
        placeholder="Dark hoodie..."
      />
    </div>
    <div class="flex gap-4">
      <button
        class="bg-slate-200 w-16 text-slate-800 font-medium p-2 h-10 rounded-md hover:bg-slate-300 transition-all"
      >
        Shop
      </button>
      <button
        class="bg-slate-200 w-16 text-slate-800 font-medium p-2 h-10 rounded-md hover:bg-slate-300 transition-all"
      >
        Cart
      </button>
    </div>
  </nav>
</header>
