<header class="mt-2 mb-6">
  <nav class="flex justify-between items-center m-auto max-w-5xl gap-4">
    <div class="w-full">
      <input
        class="p-2 h-10 w-full border-b-2 rounded-none border-b-slate-100 focus:border-b-slate-300 placeholder-slate-800 text-slate-800 font-medium outline-none transition-colors"
        type="text"
        placeholder="Dark hoodie..."
      />
    </div>
    <div class="flex gap-4">
      <button
        class="w-16 text-slate-800 font-medium p-2 h-10"
        routerLinkActive="font-semibold"
        routerLink="/shop"
      >
        Shop
      </button>
      <button
        class="w-16 text-slate-800 font-medium p-2 h-10"
        routerLinkActive="font-semibold"
        routerLink="/cart"
      >
        Cart
      </button>
    </div>
  </nav>
</header>
