<header class="mt-2 mb-6">
  <nav class="flex justify-between items-center m-auto max-w-5xl gap-4">
    <div class="w-full">
      <input
        class="p-2 h-10 w-full border-b-2 rounded-none border-b-slate-100 focus:border-b-slate-300 placeholder-slate-800 text-slate-800 font-medium outline-none transition-colors"
        type="text"
        placeholder="Dark hoodie..."
      />
    </div>
    <div class="gap-4 sm:flex hidden">
      <button
        class="w-16 text-slate-800 font-medium p-2 h-10 hover:font-bold"
        routerLinkActive="!font-bold"
        routerLink="/shop"
      >
        Shop
      </button>
      <button
        class="w-16 text-slate-800 font-medium p-2 h-10 hover:font-bold"
        routerLinkActive="!font-bold"
        routerLink="/cart"
      >
        Cart
      </button>
    </div>
    <div
      class="fixed z-50 px-7 py-4 h-12 bg-slate-200/90 backdrop-blur-lg w-fit rounded-xl bottom-6 m-auto left-6 right-6 flex gap-11 items-center sm:hidden"
    >
      <button
        class="text-slate-800 font-medium"
        routerLinkActive="text-green-700"
        routerLink="/shop"
      >
        <i class="fa-solid fa-house fa-lg"></i>
      </button>
      <button
        class="text-slate-800 font-medium"
        routerLinkActive="text-green-700"
        routerLink="/cart"
      >
        <i class="fa-solid fa-cart-shopping fa-lg"></i>
      </button>
      <button
        class="text-slate-800 font-medium"
        routerLinkActive="text-green-700"
        routerLink="/add-product"
      >
        <i class="fa-solid fa-plus fa-lg"></i>
      </button>
    </div>
  </nav>
</header>
