<header class="mt-2 mb-6">
  <nav class="flex justify-between items-center m-auto max-w-5xl gap-4">
    <div class="w-full">
      <input
        class="bg-white p-2 h-10 rounded-md w-full border-2 box-border border-slate-100 focus:border-slate-300 placeholder-slate-800 text-slate-800 font-medium outline-none transition-colors"
        type="text"
        placeholder="Dark hoodie..."
      />
    </div>
    <div class="sm:gap-4 sm:flex hidden">
      <button
        class="w-20 text-slate-800 bg-slate-100/80 rounded-md font-medium p-2 h-10 hover:bg-slate-200/80 transition-colors"
        routerLinkActive="bg-slate-200/80"
        routerLink="/shop"
      >
        Shop
      </button>
      <button
        *ngIf="isAuthenticated"
        class="w-20 text-slate-800 bg-slate-100/80 rounded-md font-medium p-2 h-10 hover:bg-slate-200/80 transition-colors"
        routerLinkActive="bg-slate-200/80"
        routerLink="/cart"
      >
        Cart
      </button>
      <button
        *ngIf="!isAuthenticated"
        class="w-20 text-slate-800 bg-slate-100/80 rounded-md font-medium p-2 h-10 hover:bg-slate-200/80 whitespace-nowrap transition-colors"
        routerLinkActive="bg-slate-200/80"
        routerLink="/auth"
      >
        Sign in
      </button>
      <button
        *ngIf="isAuthenticated"
        class="w-20 text-slate-800 bg-slate-100/80 rounded-md font-medium p-2 h-10 hover:bg-slate-200/80 whitespace-nowrap transition-colors"
        (click)="onLogout()"
      >
        Log out
      </button>
    </div>
    <div
      class="fixed z-50 px-7 py-4 h-12 bg-slate-200/90 backdrop-blur-lg w-fit rounded-xl bottom-6 m-auto left-6 right-6 flex gap-11 items-center sm:hidden"
    >
      <button
        class="text-slate-800 font-medium"
        routerLinkActive="text-green-700"
        routerLink="/shop"
      >
        <i class="fa-solid fa-house fa-lg"></i>
      </button>
      <button
        *ngIf="isAuthenticated"
        class="text-slate-800 font-medium"
        routerLinkActive="text-green-700"
        routerLink="/cart"
      >
        <i class="fa-solid fa-cart-shopping fa-lg"></i>
      </button>
      <button
        *ngIf="isAuthenticated"
        class="text-slate-800 font-medium"
        routerLinkActive="text-green-700"
        routerLink="/add-product"
      >
        <i class="fa-solid fa-plus fa-lg"></i>
      </button>
      <button
        *ngIf="!isAuthenticated"
        class="text-slate-800 font-medium"
        routerLinkActive="text-green-700"
        routerLink="/add-product"
      >
        <i class="fa-solid fa-arrow-right-to-bracket fa-lg"></i>
      </button>
      <button
        *ngIf="isAuthenticated"
        class="text-slate-800 font-medium"
        (click)="onLogout()"
      >
        <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
      </button>
    </div>
  </nav>
</header>
