<div
  class="flex flex-col gap-4"
  (mouseover)="isHovering = true"
  (mouseleave)="isHovering = false"
>
  <div
    class="relative flex-col w-full rounded-xl"
    [ngClass]="{
      ' after:content-[\'SALE!\'] after:absolute after:top-0 after:right-0 after:bg-green-800 after:text-white after:py-1 after:px-3 after:rounded-tr-xl after:rounded-bl-xl after:font-semibold':
        product.discount
    }"
  >
    <img class="rounded-xl w-full h-full" src="{{ product.imageurl }}" />

    <div
      *ngIf="isHovering"
      [@showItemDetails]="isHovering ? 'show' : null"
      class="absolute z-10 w-full h-full rounded-xl bottom-0"
    >
      <div class="flex gap-3 absolute bottom-3 left-3 text-slate-200">
        <button>
          <i class="fa-solid fa-cart-plus"></i>
        </button>
        <button [routerLink]="['/edit-product', product.id]">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <h3 class="font-bold" title="{{ product.name }}">
      {{ product.name | truncateString : 30 }}
    </h3>
    <span class="text-slate-500">{{
      product.description | truncateString : 50
    }}</span>
    <div class="flex gap-2 font-semibold">
      <span *ngIf="product.discount" class="line-through text-slate-500"
        >€ {{ product.price }}</span
      >
      <span>€ {{ product.price - product.discount }}</span>
    </div>
  </div>
</div>
