<div
  class="flex flex-col gap-4"
  (mouseover)="isHovering = true"
  (mouseleave)="isHovering = false"
>
  <div class="relative flex-col w-full rounded-xl">
    <img
      class="rounded-xl w-full h-full"
      src="{{ product.imageUrl }}"
      alt="{{ product.name }}"
    />

    <div
      *ngIf="isHovering"
      [@showItemDetails]="isHovering ? 'show' : null"
      class="absolute z-10 w-full h-full p-3 rounded-tr-xl rounded-tl-xl top-0"
    >
      <div class="flex">
        <button class="text-slate-200 flex gap-2">
          <i class="fa-solid fa-cart-plus"></i>
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <h3 class="font-bold">{{ product.name | truncateString : 30 }}</h3>
    <span class="text-slate-500">{{
      product.description | truncateString : 50
    }}</span>
    <div class="flex gap-2 font-semibold">
      <span *ngIf="product.discount" class="line-through text-slate-500"
        >€ {{ product.price + product.discount }}</span
      >
      <span>€ {{ product.price - product.discount }}</span>
    </div>
  </div>
</div>
