<div class="max-w-5xl m-auto flex gap-5 justify-center text-slate-700 mb-20">
  <form
    class="flex flex-col gap-5 w-96"
    [formGroup]="authForm"
    (ngSubmit)="onSubmit()"
  >
    <h3 class="text-center font-bold text-xl">
      {{ isLoginMode ? "Sign in" : "Sign up" }}
    </h3>

    <app-input
      [control]="authForm.controls.email"
      inputId="email"
      inputType="email"
      label="Email"
      [isRequired]="true"
    />

    <app-input
      [control]="authForm.controls.password"
      inputId="password"
      inputType="password"
      label="Password"
      [isRequired]="true"
    />

    <button
      class="rounded-xl p-2 font-semibold text-slate-200 bg-green-800 hover:bg-green-700 cursor-pointer transition-colors disabled:cursor-not-allowed disabled:bg-green-700/80"
      [disabled]="!authForm.valid"
    >
      {{ isLoginMode ? "Sign in" : "Sign up" }}
    </button>

    <button
      (click)="switchMode()"
      type="button"
      class="text-center underline text-blue-600"
    >
      I wish to {{ isLoginMode ? "sign up" : "sign in" }} instead
    </button>
  </form>
</div>
